<a href="https://colab.research.google.com/github/Anita195MN/Anita195MN/blob/main/Trivalley_Customer_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # Importing Data Science packages
import pandas as pd 
import numpy as np

In [ ]:
# Reading the URL from web
url = 'https://raw.githubusercontent.com/Anita195MN/Anita195MN/main/Trivalley%20Customer%20Spend%20and%20Buyer%20Flag%20Data%20science.csv'

In [ ]:
df = pd.read_csv(url)
df

,CustomerID,AveMonthSpend,BikeBuyer,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,...,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,11000,89,0,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,...,56,Bachelors,Professional,M,M,1,0,0,2,137947
1,11001,117,1,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,...,57,Bachelors,Professional,M,S,0,1,3,3,101141
2,11002,123,0,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,...,57,Bachelors,Professional,M,M,1,1,3,3,91945
3,11003,50,0,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,...,54,Bachelors,Professional,F,S,0,1,0,0,86688
4,11004,95,1,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,...,54,Bachelors,Professional,F,S,1,4,5,5,92771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16514,13121,101,0,NaN,Latasha,E,Jimenez,NaN,7259 Birchwood,NaN,...,57,Bachelors,Professional,F,M,1,4,5,5,101542
16515,26100,46,0,NaN,James,Garner,Ptaszynski,NaN,7345 Kenwal Rd.,NaN,...,86,Partial College,Professional,F,S,1,2,0,3,46549
16516,11328,79,0,NaN,Julian,M,Griffin,NaN,7398 Withersed Lane,NaN,...,82,Bachelors,Management,M,M,1,2,0,5,133053
16517,23077,65,0,NaN,Marvin,A,Hernandez,NaN,1019 Book Road,NaN,...,76,High School,Skilled Manual,M,M,1,2,0,4,31930
16518,18982,68,0,NaN,Kyle,NaN,Baker,NaN,2118 Little Dr.,NaN,...,77,High School,Professional,M,S,1,2,0,4,59382

In [ ]:
# Displaying the shape of the Datase
df.shape

(16519, 26)

In [ ]:
# Missing values in Data
df.isnull().sum()

CustomerID                  0
AveMonthSpend               0
BikeBuyer                   0
Title                   16431
FirstName                   0
MiddleName               6985
LastName                    0
Suffix                  16517
AddressLine1                0
AddressLine2            16243
City                        0
StateProvinceName           0
CountryRegionName           0
PostalCode                  0
PhoneNumber                 0
BirthDate                   0
Age                         0
Education                   0
Occupation                  0
Gender                      0
MaritalStatus               0
HomeOwnerFlag               0
NumberCarsOwned             0
NumberChildrenAtHome        0
TotalChildren               0
YearlyIncome                0
dtype: int64

In [ ]:
# Data columns
df.columns

Index(['CustomerID', 'AveMonthSpend', 'BikeBuyer', 'Title', 'FirstName',
       'MiddleName', 'LastName', 'Suffix', 'AddressLine1', 'AddressLine2',
       'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode',
       'PhoneNumber', 'BirthDate', 'Age', 'Education', 'Occupation', 'Gender',
       'MaritalStatus', 'HomeOwnerFlag', 'NumberCarsOwned',
       'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome'],
      dtype='object')

In [ ]:
# Removing missing values and noise variable
cols = ['AveMonthSpend', 'BikeBuyer', 
       'City', 'StateProvinceName', 'CountryRegionName',
       'Age', 'Education', 'Occupation', 'Gender',
       'MaritalStatus', 'HomeOwnerFlag', 'NumberCarsOwned',
       'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']

In [ ]:
df = df[cols]
df

,AveMonthSpend,BikeBuyer,City,StateProvinceName,CountryRegionName,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,89,0,Rockhampton,Queensland,Australia,56,Bachelors,Professional,M,M,1,0,0,2,137947
1,117,1,Seaford,Victoria,Australia,57,Bachelors,Professional,M,S,0,1,3,3,101141
2,123,0,Hobart,Tasmania,Australia,57,Bachelors,Professional,M,M,1,1,3,3,91945
3,50,0,North Ryde,New South Wales,Australia,54,Bachelors,Professional,F,S,0,1,0,0,86688
4,95,1,Wollongong,New South Wales,Australia,54,Bachelors,Professional,F,S,1,4,5,5,92771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16514,101,0,Melton,Victoria,Australia,57,Bachelors,Professional,F,M,1,4,5,5,101542
16515,46,0,Shawnee,British Columbia,Canada,86,Partial College,Professional,F,S,1,2,0,3,46549
16516,79,0,Newton,British Columbia,Canada,82,Bachelors,Management,M,M,1,2,0,5,133053
16517,65,0,Rhodes,New South Wales,Australia,76,High School,Skilled Manual,M,M,1,2,0,4,31930
16518,68,0,Kirkland,Washington,United States,77,High School,Professional,M,S,1,2,0,4,59382

In [ ]:
# Installing sweetviz package
!pip install sweetviz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 42.7 MB/s eta 0:00:00
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.8/dist-packages (from sweetviz) (4.64.1)
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from sweetviz) (5.10.2)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.8/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from sweetviz) (1.21.6)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from sweetviz) (1.3.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from sweetviz) (1.7.3)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.11.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.4

In [ ]:
# Importing sweetviz libraries
import sweetviz as sv

In [ ]:
sv_report = sv.analyze(df)

                                             |          | [  0%]   00:00 -> (? left)

In [ ]:
sv_report.show_html('Trivalley Customer Data report.html')

Report Trivalley Customer Data report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
# installing  the ML pycaret Package
!pip install pycaret --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pycaret in /usr/local/lib/python3.8/dist-packages (2.3.10)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.3.4)
Requirement already satisfied: pyod in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.0.7)
Requirement already satisfied: mlxtend>=0.17.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.19.0)
Requirement already satisfied: Boruta in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.3)
Requirement already satisfied: imbalanced-learn==0.7.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.7.0)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.8/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: pandas-profiling>=2.8.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.6.2)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.5.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.11.2)
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (2.3.9)
Requirement already satisfied: scikit-plot in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.3.7)
Requirement already satisfied: IPython in /usr/local/lib/python3.8/dist-packages (from pycaret) (7.9.0)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.8.2.2)
Requirement already satisfied: kmodes>=0.10.1 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.12.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.8/dist-packages (from pycaret) (7.7.1)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.5.4)
Requirement already satisfied: numba<0.55 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.54.1)
Requirement already satisfied: scikit-learn==0.23.2 in /usr/local/lib/python3.8/dist-packages (from pycaret) (0.23.2)
Requirement already satisfied: pyyaml<6.0.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (5.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.2.0)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.3.post1)
Requirement already satisfied: mlflow in /usr/local/lib/python3.8/dist-packages (from pycaret) (2.1.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pycaret) (1.3.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (from pycaret) (3.7)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn==0.7.0->pycaret) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==0.23.2->pycaret) (3.1.0)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.8/dist-packages (from cufflinks>=0.17.0->pycaret) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.8/dist-packages (from gensim<4.0.0->pycaret) (6.3.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (5.7.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (2.0.10)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.8/dist-packages (from IPython->pycaret) (0.18.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->pycaret) (3.0.5)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->pycaret) (3.6.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->pycaret) (5.3.4)
Requirement already satisfied: wheel in /usr/local/lib/python3.8/dist-packages (from lightgbm>=2.3.1->pycaret) (0.38.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pycaret) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pycaret) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pycaret) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in /usr/local/lib/python3.8/dist-packages (from numba<0.55->pycaret) (0.37.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pycaret) (2022.7)
Requirement already satisfied: requests<2.29,>=2.24.0 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.28.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.64.1)
Requirement already satisfied: multimethod<1.10,>=1.4 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.9.1)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.5)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.13.5)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.3)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.10.4)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in /usr/local/lib/python3.8/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.13.3)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (0.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (3.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (22.2.0)
Requirement already satisfied: imagehash in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (4.3.1)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (7.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly>=4.4.1->pycaret) (8.1.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (1.0.9)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (1.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (3.0.8)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (7.4.6)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (0.10.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (0.7.9)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (1.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy<2.4.0->pycaret) (2.0.7)
Requirement already satisfied: shap<1,>=0.40 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (0.41.0)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.4.46)
Requirement already satisfied: packaging<23 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (21.3)
Requirement already satisfied: gunicorn<21 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (20.1.0)
Requirement already satisfied: markdown<4,>=3.3 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (3.4.1)
Requirement already satisfied: importlib-metadata!=4.7.0,<6,>=3.7.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (5.2.0)
Requirement already satisfied: pyarrow<11,>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (9.0.0)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (0.4.3)
Requirement already satisfied: protobuf<5,>=3.12.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (3.19.6)
Requirement already satisfied: docker<7,>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (6.0.1)
Requirement already satisfied: databricks-cli<1,>=0.8.7 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (0.17.4)
Requirement already satisfied: entrypoints<1 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (0.4)
Requirement already satisfied: Flask<3 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.1.4)
Requirement already satisfied: cloudpickle<3 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (2.2.0)
Requirement already satisfied: querystring-parser<2 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: gitpython<4,>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (3.1.30)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: alembic<2 in /usr/local/lib/python3.8/dist-packages (from mlflow->pycaret) (1.9.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk->pycaret) (2022.6.2)
Requirement already satisfied: numexpr in /usr/local/lib/python3.8/dist-packages (from pyLDAvis->pycaret) (2.8.4)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Requirement already satisfied: funcy in /usr/local/lib/python3.8/dist-packages (from pyLDAvis->pycaret) (1.17)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.8/dist-packages (from umap-learn->pycaret) (0.5.8)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.8/dist-packages (from alembic<2->mlflow->pycaret) (5.10.2)
Requirement already satisfied: Mako in /usr/local/lib/python3.8/dist-packages (from alembic<2->mlflow->pycaret) (1.2.4)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (3.2.2)
Requirement already satisfied: pyjwt>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (2.6.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.8/dist-packages (from databricks-cli<1,>=0.8.7->mlflow->pycaret) (0.8.10)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.8/dist-packages (from docker<7,>=4.0.0->mlflow->pycaret) (1.4.2)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.8/dist-packages (from docker<7,>=4.0.0->mlflow->pycaret) (1.26.14)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from Flask<3->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from Flask<3->mlflow->pycaret) (1.0.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from gitpython<4,>=2.1.0->mlflow->pycaret) (4.0.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata!=4.7.0,<6,>=3.7.0->mlflow->pycaret) (3.11.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.8/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->IPython->pycaret) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.2,>=2.11.1->pandas-profiling>=2.8.0->pycaret) (2.0.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic<1.11,>=1.8.1->pandas-profiling>=2.8.0->pycaret) (4.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.1.1)
Requirement already satisfied: slicer==0.0.7 in /usr/local/lib/python3.8/dist-packages (from shap<1,>=0.40->mlflow->pycaret) (0.0.7)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy<2,>=1.4.0->mlflow->pycaret) (2.0.1)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling>=2.8.0->pycaret) (0.5.3)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.8/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.7.16)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->IPython->pycaret) (0.7.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.8/dist-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow->pycaret) (5.0.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.13.3)
Requirement already satisfied: nbformat in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.7.1)
Requirement already satisfied: nbconvert<6.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (23.2.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.15.0)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.8/dist-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling>=2.8.0->pycaret) (1.4.1)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core>=4.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (2.6.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.0.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.8/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.8/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (4.3.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.19.3)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from bleach->nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.5.1)

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
# Reading the URL from web
url = 'https://raw.githubusercontent.com/Anita195MN/Anita195MN/main/Trivalley%20Customer%20Spend%20and%20Buyer%20Flag%20Data%20science.csv'

In [ ]:
df = pd.read_csv(url)
df

,CustomerID,AveMonthSpend,BikeBuyer,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,...,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,11000,89,0,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,...,56,Bachelors,Professional,M,M,1,0,0,2,137947
1,11001,117,1,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,...,57,Bachelors,Professional,M,S,0,1,3,3,101141
2,11002,123,0,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,...,57,Bachelors,Professional,M,M,1,1,3,3,91945
3,11003,50,0,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,...,54,Bachelors,Professional,F,S,0,1,0,0,86688
4,11004,95,1,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,...,54,Bachelors,Professional,F,S,1,4,5,5,92771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16514,13121,101,0,NaN,Latasha,E,Jimenez,NaN,7259 Birchwood,NaN,...,57,Bachelors,Professional,F,M,1,4,5,5,101542
16515,26100,46,0,NaN,James,Garner,Ptaszynski,NaN,7345 Kenwal Rd.,NaN,...,86,Partial College,Professional,F,S,1,2,0,3,46549
16516,11328,79,0,NaN,Julian,M,Griffin,NaN,7398 Withersed Lane,NaN,...,82,Bachelors,Management,M,M,1,2,0,5,133053
16517,23077,65,0,NaN,Marvin,A,Hernandez,NaN,1019 Book Road,NaN,...,76,High School,Skilled Manual,M,M,1,2,0,4,31930
16518,18982,68,0,NaN,Kyle,NaN,Baker,NaN,2118 Little Dr.,NaN,...,77,High School,Professional,M,S,1,2,0,4,59382

In [ ]:
# Removing missing values and noise variable
cols = ['AveMonthSpend', 'BikeBuyer', 
       'City', 'StateProvinceName', 'CountryRegionName',
       'Age', 'Education', 'Occupation', 'Gender',
       'MaritalStatus', 'HomeOwnerFlag', 'NumberCarsOwned',
       'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']

In [ ]:
df = df[cols]
df

,AveMonthSpend,BikeBuyer,City,StateProvinceName,CountryRegionName,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,89,0,Rockhampton,Queensland,Australia,56,Bachelors,Professional,M,M,1,0,0,2,137947
1,117,1,Seaford,Victoria,Australia,57,Bachelors,Professional,M,S,0,1,3,3,101141
2,123,0,Hobart,Tasmania,Australia,57,Bachelors,Professional,M,M,1,1,3,3,91945
3,50,0,North Ryde,New South Wales,Australia,54,Bachelors,Professional,F,S,0,1,0,0,86688
4,95,1,Wollongong,New South Wales,Australia,54,Bachelors,Professional,F,S,1,4,5,5,92771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16514,101,0,Melton,Victoria,Australia,57,Bachelors,Professional,F,M,1,4,5,5,101542
16515,46,0,Shawnee,British Columbia,Canada,86,Partial College,Professional,F,S,1,2,0,3,46549
16516,79,0,Newton,British Columbia,Canada,82,Bachelors,Management,M,M,1,2,0,5,133053
16517,65,0,Rhodes,New South Wales,Australia,76,High School,Skilled Manual,M,M,1,2,0,4,31930
16518,68,0,Kirkland,Washington,United States,77,High School,Professional,M,S,1,2,0,4,59382

In [ ]:
# Importing all anomaly detection functions
from pycaret.anomaly import *

ImportError: ignored

In [ ]:
# Setting up the anomaly model 
anomaly_model = setup(df)

In [ ]:
# Create a model with k-nn algorithm 
knn = create_model('knn')

In [ ]:
# Predicting the anomaly model fer the dataset
knn_anomalies = predict_model(knn, df)

INFO:logs:Initializing predict_model()
INFO:logs:predict_model(estimator=KNN(algorithm='auto', contamination=0.05, leaf_size=30, method='largest',
  metric='minkowski', metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
  radius=1.0), ml_usecase=MLUsecase.ANOMALY)

In [ ]:
# Displaying the anomalies dataset
knn_anomalies

,AveMonthSpend,BikeBuyer,City,StateProvinceName,CountryRegionName,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Anomaly,Anomaly_Score
0,89,0,Rockhampton,Queensland,Australia,56,Bachelors,Professional,M,M,1,0,0,2,137947,0,63.765194
1,117,1,Seaford,Victoria,Australia,57,Bachelors,Professional,M,S,0,1,3,3,101141,0,30.463092
2,123,0,Hobart,Tasmania,Australia,57,Bachelors,Professional,M,M,1,1,3,3,91945,0,37.080992
3,50,0,North Ryde,New South Wales,Australia,54,Bachelors,Professional,F,S,0,1,0,0,86688,0,37.134889
4,95,1,Wollongong,New South Wales,Australia,54,Bachelors,Professional,F,S,1,4,5,5,92771,0,35.454196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16514,101,0,Melton,Victoria,Australia,57,Bachelors,Professional,F,M,1,4,5,5,101542,0,30.347982
16515,46,0,Shawnee,British Columbia,Canada,86,Partial College,Professional,F,S,1,2,0,3,46549,0,28.653098
16516,79,0,Newton,British Columbia,Canada,82,Bachelors,Management,M,M,1,2,0,5,133053,0,28.142495
16517,65,0,Rhodes,New South Wales,Australia,76,High School,Skilled Manual,M,M,1,2,0,4,31930,0,37.202150
16518,68,0,Kirkland,Washington,United States,77,High School,Professional,M,S,1,2,0,4,59382,0,28.965497

In [ ]:
# Converting pycaret anomalies datafile into a csv using pandas dataframe
pd.DataFrame(knn_anomalies).to_csv("Trivalley bike anomalies.csv")

In [ ]:
df1 = pd.read_csv('/content/Trivalley bike anomalies.csv')
df1.shape

(16519, 18)

In [ ]:
cols = ['AveMonthSpend', 'BikeBuyer', 
       'City', 'StateProvinceName', 'CountryRegionName',
       'Age', 'Education', 'Occupation', 'Gender',
       'MaritalStatus', 'HomeOwnerFlag', 'NumberCarsOwned',
       'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']

In [ ]:
df2 = df1[cols]

In [ ]:
# Importing all clustering algorithm
from pycaret.clustering import*

In [ ]:
# Clustering model setup
model_cluster = setup(df2)

In [ ]:
# Create a model with kmeans 
kmeans = create_model('kmeans')

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0.5556,55921.7743,0.5246,0,0,0

INFO:logs:create_model_container: 1
INFO:logs:master_model_container: 1
INFO:logs:display_container: 2
INFO:logs:KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=4, n_init=10, n_jobs=-1, precompute_distances='deprecated',
       random_state=5680, tol=0.0001, verbose=0)
INFO:logs:create_model() succesfully completed......................................

In [ ]:
kmeans_df = assign_model(kmeans)

INFO:logs:Initializing assign_model()
INFO:logs:assign_model(model=KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=4, n_init=10, n_jobs=-1, precompute_distances='deprecated',
       random_state=5680, tol=0.0001, verbose=0), transformation=False, score=True, verbose=True)
INFO:logs:Checking exceptions
INFO:logs:Determining Trained Model
INFO:logs:Trained Model : K-Means Clustering
INFO:logs:Copying data
INFO:logs:(16519, 16)
INFO:logs:assign_model() succesfully completed......................................

In [ ]:
kmeans_df

,AveMonthSpend,BikeBuyer,City,StateProvinceName,CountryRegionName,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Cluster
0,89,0,Rockhampton,Queensland,Australia,56,Bachelors,Professional,M,M,1,0,0,2,137947,Cluster 1
1,117,1,Seaford,Victoria,Australia,57,Bachelors,Professional,M,S,0,1,3,3,101141,Cluster 0
2,123,0,Hobart,Tasmania,Australia,57,Bachelors,Professional,M,M,1,1,3,3,91945,Cluster 0
3,50,0,North Ryde,New South Wales,Australia,54,Bachelors,Professional,F,S,0,1,0,0,86688,Cluster 0
4,95,1,Wollongong,New South Wales,Australia,54,Bachelors,Professional,F,S,1,4,5,5,92771,Cluster 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16514,101,0,Melton,Victoria,Australia,57,Bachelors,Professional,F,M,1,4,5,5,101542,Cluster 0
16515,46,0,Shawnee,British Columbia,Canada,86,Partial College,Professional,F,S,1,2,0,3,46549,Cluster 3
16516,79,0,Newton,British Columbia,Canada,82,Bachelors,Management,M,M,1,2,0,5,133053,Cluster 1
16517,65,0,Rhodes,New South Wales,Australia,76,High School,Skilled Manual,M,M,1,2,0,4,31930,Cluster 2
16518,68,0,Kirkland,Washington,United States,77,High School,Professional,M,S,1,2,0,4,59382,Cluster 3

In [ ]:
# Grouping clusters
kmeans_df.groupby('Cluster').size()

Cluster
Cluster 0    5506
Cluster 1    2313
Cluster 2    3392
Cluster 3    5308
dtype: int64

In [ ]:
# Convering clusetr datafile into a csv using pandas dataframe
pd.DataFrame(kmeans_df).to_csv("Trivalley bike clusters.csv")

In [ ]:
# Importing regression libbrary from pycaret
from pycaret.regrssion import*

In [ ]:
cat_cols = [ 'City', 'StateProvinceName', 'CountryRegionName',
        'Education', 'Occupation', 'Gender',
       'MaritalStatus', 'HomeOwnerFlag']

In [ ]:
num_cols =[ 'Age', 'NumberCarsOwned',
       'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']

In [ ]:
# Setting up the regression ML experiment
regression_model_setup = setup(df2, target = 'AveMonthSpend', categorical_features = cat_cols, numeric_features = num_cols)

In [ ]:
# Comparing the model
compare_models()

In [ ]:
# Creating a model
model = create_model('')

In [ ]:
# Evaluting the model
evaluate_model(model)

In [ ]:
from pycaret.classification import*

In [ ]:
cat_cols = [ 'City', 'StateProvinceName', 'CountryRegionName',
        'Education', 'Occupation', 'Gender',
       'MaritalStatus', 'HomeOwnerFlag']

In [ ]:
num_cols = ['AveMonthSpend', 
       'Age', 'NumberCarsOwned',
       'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']

In [ ]:
# Setting up the classification ML experiment
classification_model_setup = setup(df2, target = 'BikeBuyer', categorical_features = cat_cols, numeric_features = num_cols )

In [ ]:
# Comparing the model
compare_models()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
gbc,Gradient Boosting Classifier,0.8015,0.8608,0.5828,0.7575,0.6587,0.5221,0.5311,4.963
lightgbm,Light Gradient Boosting Machine,0.7963,0.8585,0.5902,0.7379,0.6557,0.5136,0.5202,0.340
rf,Random Forest Classifier,0.7902,0.8414,0.5809,0.7262,0.6453,0.4990,0.5053,2.769
ada,Ada Boost Classifier,0.7879,0.8516,0.6020,0.7091,0.6510,0.5002,0.5038,1.265
ridge,Ridge Classifier,0.7827,0.0000,0.5194,0.7420,0.6110,0.4666,0.4810,0.084
lda,Linear Discriminant Analysis,0.7815,0.8289,0.5283,0.7325,0.6138,0.4670,0.4792,0.807
et,Extra Trees Classifier,0.7748,0.8237,0.5746,0.6887,0.6263,0.4671,0.4711,3.747
nb,Naive Bayes,0.7638,0.8009,0.4622,0.7187,0.5625,0.4110,0.4299,0.101
lr,Logistic Regression,0.7566,0.7821,0.4441,0.7056,0.5446,0.3904,0.4100,1.150
dt,Decision Tree Classifier,0.7380,0.7015,0.5952,0.6029,0.5988,0.4043,0.4045,0.380
dummy,Dummy Classifier,0.6715,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.034
knn,K Neighbors Classifier,0.6677,0.6218,0.3356,0.4914,0.3985,0.1803,0.1867,0.697
svm,SVM - Linear Kernel,0.5356,0.0000,0.4000,0.1318,0.1983,0.0013,0.0080,1.581
qda,Quadratic Discriminant Analysis,0.5138,0.5081,0.4917,0.3392,0.3921,0.0162,0.0162,0.500

INFO:logs:create_model_container: 14
INFO:logs:master_model_container: 14
INFO:logs:display_container: 2
INFO:logs:GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=5041, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)
INFO:logs:compare_models() succesfully completed......................................

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=5041, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
# Creating a model with the best algorithm
model = create_model('gbc')

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.8064  0.8677  0.5947  0.7635  0.6686  0.5349  0.5432
1       0.8012  0.8575  0.5658  0.7679  0.6515  0.5169  0.5287
2       0.8073  0.8688  0.5895  0.7698  0.6677  0.5353  0.5447
3       0.8149  0.8699  0.5989  0.7855  0.6796  0.5528  0.5628
4       0.8002  0.8532  0.5789  0.7560  0.6557  0.5184  0.5276
5       0.8097  0.8619  0.5947  0.7740  0.6726  0.5417  0.5510
6       0.8054  0.8655  0.5868  0.7663  0.6647  0.5309  0.5403
7       0.7950  0.8669  0.5816  0.7391  0.6510  0.5087  0.5161
8       0.7950  0.8608  0.5711  0.7457  0.6468  0.5059  0.5149
9       0.7803  0.8363  0.5658  0.7072  0.6287  0.4754  0.4813
Mean    0.8015  0.8608  0.5828  0.7575  0.6587  0.5221  0.5311
Std     0.0092  0.0096  0.0116  0.0210  0.0142  0.0210  0.0219

INFO:logs:create_model_container: 15
INFO:logs:master_model_container: 15
INFO:logs:display_container: 3
INFO:logs:GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=5041, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)
INFO:logs:create_model() succesfully completed......................................

In [ ]:
# Evaluating the model
evaluate_model(model)

In [ ]:
# Loading the client dataset for which prediction to be made
url1 = 'https://raw.githubusercontent.com/Anita195MN/Anita195MN/main/Trivalley%20Customer%20Spend%20and%20Buyer%20Flag%20Data%20science.csv'
pred_data = pd.read_csv(url1)

In [ ]:
# Checking the data size of the client dataset
pred_data.shape

(16519, 26)

In [ ]:
# Using the best model to predict the values
predictions = predict_model(model, data = pred_data)

In [ ]:
# Converting predictions dataframe to csv
predictions.to_csv('Trivalley Customer Data Predictions.csv')